{% extends 'layout.html' %}

{% block title %}Job Log{% endblock %}

{% block top_actions %}
<a class="btn" href="/jobs/{{ job.id }}/log.txt">Download TXT</a>
{% if has_timestamp_files %}
<span class="timestamp-downloads">
    <a class="btn" href="/jobs/{{ job.id }}/timestamp-request.tsq">Download TSQ</a>
    <a class="btn" href="/jobs/{{ job.id }}/timestamp-response.tsr">Download TSR</a>
</span>
{% endif %}
{% endblock %}

{% block content %}
<dl class="metadata-grid">
    <div>
        <dt>Name</dt>
        <dd>{{ job.name }}</dd>
    </div>
    <div>
        <dt>Disk</dt>
        <dd>{{ job.disk }}</dd>
    </div>
</dl>

<pre class="job-log" data-log-url="/jobs/{{ job.id }}/log"></pre>
{% endblock %}
