{% extends "base" %}

{% block content %}

    {% if flash %}
        <div class="card field-{{flash.0}}-msg">
            {{ flash.1 }}
        </div>
    {% endif %}


    <div class="card">
        <h2>{{ job.name }}</h2>

    </div>

{% endblock content %}