{% extends "base" %}

{% block content %}

    {% if flash %}
        <div class="card field-{{flash.0}}-msg">
            {{ flash.1 }}
        </div>
    {% endif %}


    <div class="card">
        <h2>{{ job.name }}</h2>

        <div>
            <h4>Logs</h4>
            <pre class="log job-log" data-id="{{ job.id }}">
            </pre>
        </div>
    </div>

{% endblock content %}