{% extends "base" %}

{% block content %}

    {% if flash %}
        <div class="card field-{{flash.0}}-msg">
            {{ flash.1 }}
        </div>
    {% endif %}

    <h1>Running Jobs</h1>

    {% for job in running_jobs %}
    <a class="card" href="/jobs/{{ job.id }}">
        <h2>{{ job.name }}</h2>
        <div>
        content
        </div>
    </div>
    {% endfor %}

    <h1>Finished Jobs</h1>

    {% for job in finished_jobs %}
    <a class="card" href="/jobs/{{ job.id }}">
        <h2>{{ job.name }}</h2>
        <div>
        content
        </div>
    </div>
    {% endfor %}

{% endblock content %}