{% extends "base" %}

{% block content %}
    {% if disk %}
        <h1>Are you sure you want to secure erase this disk?</h1>
    {% else %}
        <h1>Secure Erase not possible!</h1>
    {% endif %}

    {% if flash %}
        <div class="card field-{{flash.0}}-msg">
            {{ flash.1 }}
        </div>
    {% endif %}

    {% if disk %}
    <div class="card">
        <h2>{{ disk.model }}</h2>
        <div class="flex flex-start">
            {% if disk.connection_type == "NVMe" %}
                <img src="/static/images/nvme.svg"> 
            {% elif disk.connection_type == "USB" %}
                <img src="/static/images/usb.svg">
            {% elif disk.disk_type == "SSD" %}
                <img src="/static/images/ssd.svg">
            {% else %}
                <img src="/static/images/hdd.svg">
            {% endif %}
            <div class="flex flex-col">
                <table class="grow">
                    {% if disk.model_exact %}
                    <tr>
                        <th>Model</th>
                        <td>{{ disk.model_exact }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Serial</th>
                        <td>{{ disk.serial }}</td>
                    </tr>
                    <tr>
                        <th>Device</th>
                        <td>{{ disk.device }}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{ disk.size_formated }}</td>
                    </tr>
                    <tr>
                        <th>Connection Type</th>
                        <td>{{ disk.connection_type }}
                    </tr>
                </table>
                <table class="grow">
                    <tr>
                        <th>Erasure Type</th>
                        <td>{{ disk.erase_type }}
                    </tr>
                </table>


                {% if requires_unfreeze %}
                    <div>
                        This disk is currently frozen, which means basildisk is unable to perform the secure erase procedure.
                    </div>
                    <div>
                        You may unfreeze this disk by putting the machine to sleep mode for a few seconds with the button below.
                    </div>
                {% endif %}
                    
                <div class="flex">
                    <a class="btn" href="/">Abort</a>
                    {% if disk.erase_type != "None" %}
                        {% if requires_unfreeze %}
                            <button class="btn unfreeze-btn">Temporary Sleep Mode</button>
                        {% else %}
                            <button class="btn erase-btn" data-serial="{{ disk.serial }}" data-timestamp="{{ timestamp }}">Confirm Secure Erase (Not Reversible)</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}